[user]

    name = "Connor Vanderhook" 
	email = 14183191+cnnrrss@users.noreply.github.com
	signingkey = D045C02345FB5086

[alias]

	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

    # Commit all changes
	ca = !git add -A && git commit -av

    # Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# List aliases
	aliases = config --get-regexp alias

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

    # Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

	# List contributors with number of commits
	contributors = shortlog --summary --numbered

[apply]

	# Detect whitespace errors when applying a patch
	whitespace = fix

[color]

    ui = true

[help]

    autocorrect = 1

[pull]
    
    rebase = false

[core]

    editor = vim
    pager = delta
    excludesfile = ~/.gitignore_global

[delta]
    
    side-by-side = true
    line-numbers = true
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    #hunk-header-style = omit

[delta "line-numbers"]

    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[interactive]
    
    diffFilter = delta --color-only

[diff]

    tool = delta 

[difftool]
    
    prompt = false

[init]
    
    defaultBranch = main

[url "git@github.com:"]

	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

	insteadOf = "github:"

[url "git@gist.github.com:"]

	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

	insteadOf = "gist:"

[includeIf "gitdir:~/Projects/abc/"]

    path = ~/.abc.gitconfig
